@charset "UTF-8";
* 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body
{
    margin:0 auto;
}
input,textarea
{
    font-size:25px;
}
textarea
{
    padding-top:16px;
}
.coronaInfo
{
    height:50px;
    background-color:#000000;
    text-align:center;
    padding-top:10px;
}
.coronaInfo a
{
    font-size:20px;
    color:#ffffff;
}

.Header
{
    min-height:780px;
    width:100%;
    background-position:center;
    background-size:cover;
}

.Header #filter
{
    height:780px;
    width:100%;
    background-color:#ffffff;
    position:absolute;
    opacity:0.25;
}

.Header #head
{
    height:50px;
    background-color:black;
    display:flex;
    position:fixed;
}

nav
{
    position:fixed;
    width:530px;
    height:50px;
    display:flex;
    right:0;
    left:0;
    margin:0 auto;
    padding-top:10px;
}
#logo
{
    position:fixed;
    margin-left:3%;
    margin-top:10px;
}
nav #button1 #button2 #button3
{
    margin-left:0px;
}
nav a
{
    font-size:20px;
    line-height:2.34;
    color:#ffffff;
    padding-left:80px;
    text-decoration: none;
}
#signin
{
    position:fixed;
    width:120px;
    right:60px;
    margin-top:20px;
}
#signin a
{
    font-size:22px;
    line-height:2.34;
    color:#ffffff;

    text-decoration: none;
}

.Header h1
{
    width: 90%;
    margin-top:200px;
    position: absolute;
    top: 250px;
    left: 5%;
    color: #ffffff;
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
}

.locationPhotos
{
    display:flex;
    flex-wrap: wrap;
    margin-top:30px;
    margin-right:3%;
    margin-left:-1%;

    margin-bottom:100px;
}

.locationPhotos #box
{
    width:250px;
    display:flex;
    height:100px;
    margin-left:10%;
    margin-bottom:30px;
}
.locationPhotos #strArea
{
    width:80px;
    height:50px;
    padding-top:20px;
}

.locationPhotos #box #photo img
{
    width:100px;
    height:100px;
    object-fit: cover;
    border-radius:8px;
    margin-right:15px;
}
#favLocation
{
    width:auto;
}

#favLocation h1
{
    margin-left:8.6%;
    font-size:40px;
}

#favLocPhotos
{
    display:flex;
    margin-left:8.6%;
    margin-bottom:100px;
}

#favLocPhotos #area
{
    margin-right:10px;
}

#favLocPhotos #area img
{
    width:100%;
    height:80%;
    border-radius:8px;
}

#favLocPhotos #area #strArea strong
{
    font-size:24px;
}

.GoToEats
{
    width:90%;
    height:426px;
    margin-left:8.6%;
    background-image: url("cafe/img/goto.jpg");
    border-radius:20px;
    padding-top:80px;
    padding-left:50px;
    margin-bottom:50px;
    background-size:cover;
    background-repeat:no-repeat;
}
.GoToEats #strBox
{
    margin-top:-230px;
}
.GoToEats #strBox h1
{
    font-size:56px;
}
.GoToEats #strBox p
{
    font-size:25px;
    margin-top:-30px;
}

.GoToEats #filter
{
    width:720px;
    height:200px;
    margin-top:30px;
    background-color:#ffffff;
    opacity:0.4;
}

#Experience
{
    width:100%;
    height:100%;

    background-color:#000000;

    padding-top:30px;
    padding-bottom:50px;
}

#Experience #title
{
    font-size:42px;
    margin-left:8.6%;
    color:#ffffff;
}
#Experience strong
{
    display:block;
    margin-top:-30px;
    margin-left:8.6%;
    font-size:18px;
    color:#ffffff;
}
#Experience #photoArea
{
    margin-top:20px;
    margin-left:8.6%;
    display:flex;
}

#Experience #photoArea img
{
    width:100%;
    margin-right:2%;
    border-radius:8px;
}

#Experience #photoArea #area
{
    width:30%;
    height:30%;

    margin-right:30px;
}
#Experience #photoArea h1
{
    color:#ffffff;
    margin-top:-5px;
}
#Experience #photoArea p
{
    color:#ffffff;
    margin-top:-20px;
}

.joinHost
{
    margin-left:8.6%;
}
.joinHost #title
{
    font-size:42px;
}

.joinHost #photoArea
{
    margin-top:-30px;
    display:flex;
}

.joinHost #photoArea #area
{
    width:30%;
    height:30%;

    margin-right:30px;
}

.joinHost #photoArea img
{
    width:100%;
    margin-right:2%;
    border-radius:8px;
}

.joinHost #photoArea h1
{
    margin-top:-2px;
}

.footerBox
{
    width:100%;
    height:auto;
    background-color:#f0f0f0;
    border-top:solid #c0c0c0 2px;

    padding-top:100px;
}

.footerBox #parent
{
    width:auto;
    height:auto;
    margin-left:8.6%;
    margin-right:8.6%;
    display:flex;
    flex-wrap:wrap;
    border-bottom:solid #c0c0c0 2px;

    margin-bottom:50px;
}

.footerBox #parent strong
{
    font-size:18px;
}

.footerBox #parent p
{
    font-size:18px;
}

.footerBox #parent p a
{
    text-decoration: none;
    color:#000000;
}

.footerBox #parent #area
{
    width:250px;
    margin-right:8%;
}

.siteInfo
{
    margin-top:-10px;
    line-height:1.0;
    margin-left:8.6%;
    margin-bottom:100px;
}

.siteInfo p
{
    font-size:18px;
}

#contactBox
{
    width:80%;
    height:auto;
    border:solid 2px #d0d0d0;
    border-radius:20px;
    margin:0 auto;
    margin-top:200px;
    margin-bottom:80px;
}

#contactBox #contactHeader h1
{
    text-align:center;

    padding-bottom:20px;
    border-bottom:solid 2px #d0d0d0;
}
#contactBox #contactBody
{
    margin-left:2%;
    margin-right:2%;
    margin-top:2%;
}
#contactBox #strBox
{
    width:100%;
    height:auto;

    border-top:solid 2px #000000;
    border-bottom:solid 2px #000000;
    background-color:#f2f2f2;

    margin-top:20px;
}

#contactBox #strBox p
{
    margin-top:10px;
    margin-bottom:10px;
    font-size: 22px;
}
#contactBox #contactBody #sub p
{
    font-size:20px;
}
#contactBox #contactBody #sub #essential span
{
    color:#ff0000;
}
#contactBox #contactBody #sub #essential
{
    margin-top:-20px;
}
#contactBox #contactBody #inputForm span
{
    color:#ff0000;
}
#contactBox #contactBody #inputForm p
{
    font-size:20px;
}
#contactBox #contactBody #inputBox
{
    width:80%;
    height:60px;
    margin-top:-14px;
    border:solid 2px #d0d0d0;
    border-radius:15px;
}

#contactBox #contactBody #inputOpinionForm span
{
    color:#ff0000;
}

#contactBox #contactBody #inputOpinionForm #opinionBox
{
    width:100%;
    height:300px;
    margin-top:30px;
    border:solid 2px #d0d0d0;
    border-radius:15px;
}

#contactBox #contactBody #submitBtn input
{
    width:100%;
    height:auto;
    padding-top:2%;
    padding-bottom:2%;
    margin-top:20px;
    background-color:#ff00a0;

    border-radius:10px;
    margin-bottom:50px;
}

#confirmHeader
{
    width:80%;
    height:auto;
    border:solid 2px #d0d0d0;
    border-radius:20px;
    margin:0 auto;
    margin-top:200px;
    margin-bottom:80px;
}

#confirmHeader h1
{
    text-align: center;
}

#confirmHeader #box
{
    width:80%;
    height:auto;
    border:solid 2px #d0d0d0;
    border-radius:20px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:10px;
    padding-top:10px;
    padding-left:10px;
}

#confirmHeader #box #first
{
    font-size:30px;
}
#confirmHeader #box p
{
    font-size:30px;
    margin-left:50px;
}

#confirmHeader #submitBtn
{
    width:40%;
    height:auto;

    background-color:#ff00a0;
}
#confirmHeader #backBtn
{
    width:40%;
    height:auto;
}

#confirmHeader #btns
{
    width:100%;
    margin-left:10%;
    margin-right:10%;
    padding-bottom:3%;
}