@charset "UTF-8";
* 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body
{
    margin:0 auto;
}
.coronaInfo
{
    height:50px;
    background-color:#000000;
    text-align:center;
    padding-top:10px;
}
.coronaInfo a
{
    font-size:20px;
    color:#ffffff;
}

.Header
{
    min-height:780px;
    width:100%;
    background-position:center;
    background-size:cover;
}

.Header #filter
{
    height:780px;
    width:100%;
    position:absolute;
    background-color:#ffffff;

    opacity:0.25;
}

.Header #head
{
    height:50px;
    display:flex;
}

.Header nav
{
    position:absolute;
    width:530px;
    height:50px;
    display:flex;
    right:0;
    left:0;
    margin:0 auto;
    padding-top:10px;
}
.Header #logo
{
    margin-left:3%;
    margin-top:10px;
}
.Header nav #button
{
    margin-left:0px;
}
.Header nav #button a
{
    font-size:20px;
    line-height:2.34;
    color:#ffffff;
    padding-left:80px;
    text-decoration: none;
}
.Header #signin
{
    position:absolute;
    width:120px;
    right:60px;
    margin-top:20px;
}
.Header #signin a
{
    font-size:22px;
    line-height:2.34;
    color:#ffffff;

    text-decoration: none;
}

.Header h1
{
    width: 90%;
    margin-top:200px;
    position: absolute;
    top: 250px;
    left: 5%;
    color: #ffffff;
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
}